<header class="row">
  <!-- <div class="row">
    <div class="col-5">
      <a href="/"><img id="brand" src="images/logo.png"</a>
    </div>
      <nav>
        <ul id="navigation" class="slimmenu">
              <li><a href="/aboutme" target="_blank">about me</a></li>
              <li><a href="/#portfolio">my work</a></li>
              <li><a href="/blog" target="_blank">my thoughts</a></li>
              <a onclick="document.getElementById('id01').style.display='block'"><li class="btn contact">contact me</li></a>
        </ul>
      </nav>
  </div> -->
    <!-- <a href="/"><img id="brand" src="images/logo.png"</a> -->
    <nav class="">
      <ul id="navigation" class="slimmenu">
        <li>
          <a href="#">about me</a>
        </li>
        <li>
          <a href="#">my work</a>
        </li>
        <li>
          <a href="#">my thoughts</a>
        </li>
        <li>
          <a href="#">contact me</a>
        </li>
      </ul>
    </nav>


</header>
