<header class="row">
  <!-- <div class="row">
    <div class="col-5">
      <a href="/"><img id="brand" src="images/logo.png"</a>
    </div>
      <nav>
        <ul id="navigation" class="slimmenu">
              <li><a href="/aboutme" target="_blank">about me</a></li>
              <li><a href="/#portfolio">my work</a></li>
              <li><a href="/blog" target="_blank">my thoughts</a></li>
              <a onclick="document.getElementById('id01').style.display='block'"><li class="btn contact">contact me</li></a>
        </ul>
      </nav>
  </div> -->
    <!-- <a href="/"><img id="brand" src="images/logo.png"</a> -->
    <nav>
      <div class="logo">
        <a href="/"><img src="images/logo.png" /></a>
      </div>
      <div class="icon">
        <span class="toggle">☰</span>
      </div>
      <ul class="list-item">
        <a href="/aboutme"><li>about me</li></a>
        <a href="/#portfolio"><li>my work</li></a>
        <a href="/blog"><li>my thoughts</li></a>
        <a onclick="document.getElementById('id01').style.display='block'"><li id="contact-me">contact me</li></a>
      </ul>
    </nav>
    <div id="spacer" style="width: 100%; height: 240px; float:left; display:none"></div>

</header>
