<% layout('layout') -%>

<div style="padding: 10px">
  <p>I have recently completed Accelerate full immersive coding boot-camp.
  After studying Economics at University, I worked in operations at Santander Bank for four years. Through these experiences I have strengthened my analytical skills which allowed me to achieve the 25% loss reduction targets set by the Executive Committee. I have further enhanced my analytical ability by completing an additional data science course with Accelerate.</p>

  <p>I’m a natural team leader and determined to create a collaborative environment where team member’s strengths are leveraged and everyone is fulfilled in their role. I will also go beyond my role to fill gaps to help meet the targets. At Santander, I learnt VBA in order to increase automation and reduce the dependencies on manual processes which freed up resources to analyse data and meet stakeholders. While at Accelerate, I took the team lead in group projects to ensure key milestones were delivered within the short timeframes.</p>

  <p>I moved to Hong Kong to gain new perspectives - Accelerate has helped to enhance my technical edge. Having coded intensively for 1000+ hours, I’m definitely on an upwards curve in terms of learning and want to find a company where I can contribute with these skills and my international experience.</p>

</div>
